body{
    padding: 0;
    margin: 0;
}


.widgets{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #228cf6;
}

span{
    color: #ffffff;
    font-size: 45px;
}

.container{
    display: flex;
    margin: 30px 0 30px 0;
    justify-content: space-between;
}

.items{
    background-color: #1368b7;
    border: 1px solid yellow;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.contacts{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #228cf6;
}