body{
    margin: 0;
    padding: 0;
}

header{
    background-color: grey;
    height: 100px;
    color: antiquewhite;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 10px;
    border: 4px solid #ec3e3e;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    margin-top: 20px;
    height: 400px;
    align-items: stretch;

}

.B{
    flex-grow: 2;
    background-color: grey;
    border-radius: 10px;
    border: 4px solid #ec3e3e;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    color: antiquewhite;
    font-size: 30px;
    box-sizing: border-box;
}
.C{
    flex-grow: 1;
    background-color: grey;
    border-radius: 10px;
    border: 4px solid #ec3e3e;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    color: antiquewhite;
    font-size: 30px;
    box-sizing: border-box;
}